# COGS 108 - Final Project

# Overview

*Fill in your overview here*

# Names

- Jialiang Ji
- Leyi Shang
- Yabo Shi
- Kegan Wong
- Tram Nguyen

# Group Members IDs

- A14711559 Jialiang Ji, jij106@ucsd.edu
- A13718465
- A########
- A########

# Research Question

The research question is that we want to find the relationship between the poverty and the percentage of the internet usage.

## Background and Prior Work

*Fill in your background and prior work here* 

References (include links):
- 1)
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [1]:
## YOUR CODE HERE
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import json
import datetime

# Significance Test
import patsy
import statsmodels.api as sm
import scipy.stats as stats
from scipy.stats import ttest_ind, chisquare, normaltest

# NLP
import re
from nltk.corpus import stopwords

# Data Cleaning

Describe your data cleaning steps here.

In [6]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION
df = pd.read_csv("./new.csv")
df.head(n=800)

,countyState,GEOID,lon,lat,P_total,P_white,P_black,P_asian,P_native,P_hawaiian,...,UnderAge5inPovertyCountUB90%,90%ConfidenceInterval(UnderAge5inPovertyCount),UnderAge5inPovertyPercent,UnderAge5inPovertyPercentLB90%,UnderAge5inPovertyPercentUB90%,90%ConfidenceInterval(UnderAge5inPovertyPercent),MedianHouseholdIncomeinDollars,MedianHouseholdIncomeinDollarsLB90%,MedianHouseholdIncomeinDollarsUB90%,90%ConfidenceInterval(MedianHouseholdIncomeinDollars)
0,Fairbanks North Star Borough (AK),05000US02090,-146.599867,64.690832,100605,75501.0,4385.0,3875.0,7427.0,503.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$74,241","$68,171","$80,311","$68,171 to $80,311"
1,Matanuska-Susitna Borough (AK),05000US02170,-149.407974,62.182173,104365,86314.0,1019.0,1083.0,5455.0,141.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$72,296","$67,381","$77,211","$67,381 to $77,211"
2,Baldwin County (AL),05000US01003,-87.746067,30.659218,208563,180484.0,18821.0,914.0,1383.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$56,607","$52,439","$60,775","$52,439 to $60,775"
3,Calhoun County (AL),05000US01015,-85.822513,33.771706,114611,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$45,937","$43,419","$48,455","$43,419 to $48,455"
4,Cullman County (AL),05000US01043,-86.869267,34.131923,82471,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$45,925","$41,985","$49,865","$41,985 to $49,865"
5,DeKalb County (AL),05000US01049,-85.803992,34.460929,70900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$39,906","$36,346","$43,466","$36,346 to $43,466"
6,Elmore County (AL),05000US01051,-86.142739,32.597229,81799,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$59,652","$55,049","$64,255","$55,049 to $64,255"
7,Etowah County (AL),05000US01055,-86.034420,34.047638,102564,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$41,791","$38,946","$44,636","$38,946 to $44,636"
8,Houston County (AL),05000US01069,-85.296398,31.158193,104056,71838.0,27762.0,1054.0,443.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$44,753","$42,919","$46,587","$42,919 to $46,587"
9,Jefferson County (AL),05000US01073,-86.896536,33.553444,659521,340506.0,279979.0,8366.0,1799.0,323.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$50,731","$49,512","$51,950","$49,512 to $51,950"
10,Lauderdale County (AL),05000US01077,-87.650997,34.904122,92318,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$46,646","$42,318","$50,974","$42,318 to $50,974"
11,Lee County (AL),05000US01081,-85.353048,32.604064,158991,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$51,372","$47,509","$55,235","$47,509 to $55,235"
12,Limestone County (AL),05000US01083,-86.981399,34.810239,92753,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$57,342","$52,754","$61,930","$52,754 to $61,930"
13,Madison County (AL),05000US01089,-86.551080,34.764238,356967,243688.0,87415.0,8383.0,2547.0,250.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$62,750","$60,151","$65,349","$60,151 to $65,349"
14,Marshall County (AL),05000US01095,-86.321668,34.309564,95157,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$42,751","$38,920","$46,582","$38,920 to $46,582"
15,Mobile County (AL),05000US01097,-88.196568,30.684573,414836,243284.0,148001.0,8269.0,3328.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$45,615","$42,959","$48,271","$42,959 to $48,271"
16,Montgomery County (AL),05000US01101,-86.203831,32.203651,226349,81740.0,130006.0,5753.0,339.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$45,833","$43,205","$48,461","$43,205 to $48,461"
17,Morgan County (AL),05000US01103,-86.846402,34.454484,119012,93591.0,14431.0,1076.0,763.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$49,274","$45,438","$53,110","$45,438 to $53,110"
18,St. Clair County (AL),05000US01115,-86.315663,33.712963,88019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$52,755","$49,054","$56,456","$49,054 to $56,456"
19,Shelby County (AL),05000US01117,-86.678104,33.262937,210622,168484.0,24066.0,4535.0,211.0,197.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$74,098","$70,854","$77,342","$70,854 to $77,342"
20,Talladega County (AL),05000US01121,-86.175804,33.369277,80103,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$41,733","$38,115","$45,351","$38,115 to $45,351"
21,Tuscaloosa County (AL),05000US01125,-87.522860,33.290202,206102,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$51,644","$49,316","$53,972","$49,316 to $53,972"
22,Walker County (AL),05000US01127,-87.301092,33.791571,64967,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$41,925","$38,785","$45,065","$38,785 to $45,065"
23,Benton County (AR),05000US05007,-94.256187,36.337825,258291,228649.0,3896.0,9343.0,2656.0,1350.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$64,728","$61,787","$67,669","$61,787 to $67,669"
24,Craighead County (AR),05000US05031,-90.630411,35.828268,105835,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$49,355","$46,377","$52,333","$46,377 to $52,333"
25,Faulkner County (AR),05000US05045,-92.324654,35.146356,122227,100295.0,12771.0,1404.0,277.0,739.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$51,535","$47,063","$56,007","$47,063 to $56,007"
26,Garland County (AR),05000US05051,-93.146915,34.578861,97477,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$44,662","$41,290","$48,034","$41,290 to $48,034"
27,Jefferson County (AR),05000US05069,-91.930701,34.277696,70016,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$38,677","$35,719","$41,635","$35,719 to $41,635"
28,Lonoke County (AR),05000US05085,-91.894132,34.755114,72228,63910.0,3884.0,1032.0,292.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$54,378","$50,312","$58,444","$50,312 to $58,444"
29,Pulaski County (AR),05000US05119,-92.316515,34.773988,393250,218346.0,142430.0,8604.0,799.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$52,361","$49,760","$54,962","$49,760 to $54,962"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,Franklin County (WA),05000US53021,-118.906944,46.534580,90160,54718.0,1733.0,1777.0,726.0,759.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$61,285","$56,383","$66,187","$56,383 to $66,187"
771,Grant County (WA),05000US53025,-119.467788,47.213633,93546,59251.0,558.0,773.0,843.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$55,807","$51,583","$60,031","$51,583 to $60,031"
772,Grays Harbor County (WA),05000US53027,-123.827043,47.142786,71628,62373.0,1187.0,1304.0,2996.0,132.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$47,619","$44,343","$50,895","$44,343 to $50,895"
773,Island County (WA),05000US53029,-122.670503,48.158436,82636,70785.0,1993.0,3901.0,898.0,318.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$63,529","$57,608","$69,450","$57,608 to $69,450"
774,King County (WA),05000US53033,-121.832375,47.493554,2149970,1393480.0,130762.0,361162.0,11288.0,17123.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$89,519","$87,771","$91,267","$87,771 to $91,267"
775,Kitsap County (WA),05000US53035,-122.649636,47.639687,264811,213321.0,6587.0,11318.0,3022.0,2204.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$72,795","$70,481","$75,109","$70,481 to $75,109"
776,Lewis County (WA),05000US53041,-122.377444,46.580071,77066,69504.0,542.0,932.0,1279.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$50,086","$46,809","$53,363","$46,809 to $53,363"
777,Pierce County (WA),05000US53053,-122.144709,47.040716,861312,629794.0,55912.0,52850.0,10825.0,12192.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$69,027","$67,060","$70,994","$67,060 to $70,994"
778,Skagit County (WA),05000US53057,-121.816278,48.493066,123681,102076.0,736.0,2563.0,2356.0,354.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$65,505","$63,086","$67,924","$63,086 to $67,924"
779,Snohomish County (WA),05000US53061,-121.766412,48.054913,787620,598184.0,24290.0,80706.0,7930.0,4176.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$82,405","$80,330","$84,480","$80,330 to $84,480"
780,Spokane County (WA),05000US53063,-117.404392,47.620379,499072,437088.0,9113.0,11616.0,8027.0,2794.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$53,438","$51,643","$55,233","$51,643 to $55,233"
781,Thurston County (WA),05000US53067,-122.829441,46.932598,275222,226065.0,8506.0,16030.0,3433.0,2555.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$71,370","$68,964","$73,776","$68,964 to $73,776"
782,Whatcom County (WA),05000US53073,-121.836433,48.842653,216800,178402.0,2619.0,9298.0,6037.0,524.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$61,026","$58,638","$63,414","$58,638 to $63,414"
783,Yakima County (WA),05000US53077,-120.740145,46.456558,249636,194416.0,3499.0,2502.0,10785.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$47,573","$45,119","$50,027","$45,119 to $50,027"
784,Brown County (WI),05000US55009,-87.995926,44.473961,260401,221450.0,5768.0,7972.0,7072.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$61,240","$58,736","$63,744","$58,736 to $63,744"
785,Dane County (WI),05000US55025,-89.417852,43.067468,531273,443862.0,25227.0,30922.0,2137.0,243.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$72,385","$70,600","$74,170","$70,600 to $74,170"
786,Dodge County (WI),05000US55027,-88.704379,43.422706,88068,85269.0,1584.0,107.0,105.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$57,862","$54,312","$61,412","$54,312 to $61,412"
787,Eau Claire County (WI),05000US55035,-91.286414,44.726355,102965,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$55,418","$51,888","$58,948","$51,888 to $58,948"
788,Fond du Lac County (WI),05000US55039,-88.493284,43.754722,102144,94027.0,762.0,1494.0,528.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$61,591","$58,864","$64,318","$58,864 to $64,318"
789,Jefferson County (WI),05000US55055,-88.773985,43.013807,84625,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$58,759","$54,862","$62,656","$54,862 to $62,656"
790,Kenosha County (WI),05000US55059,-87.424898,42.579703,168183,143113.0,12119.0,2482.0,827.0,175.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$61,312","$57,981","$64,643","$57,981 to $64,643"
791,La Crosse County (WI),05000US55063,-91.111758,43.908222,118122,107056.0,1327.0,5207.0,217.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$57,145","$54,602","$59,688","$54,602 to $59,688"
792,Manitowoc County (WI),05000US55071,-87.313828,44.105108,79536,74773.0,485.0,2022.0,365.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$55,741","$52,592","$58,890","$52,592 to $58,890"
793,Marathon County (WI),05000US55073,-89.757823,44.898036,135603,123417.0,483.0,7976.0,456.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$59,302","$55,681","$62,923","$55,681 to $62,923"
794,Milwaukee County (WI),05000US55079,-87.481575,43.017655,951448,562559.0,249436.0,40031.0,4836.0,168.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$47,795","$46,250","$49,340","$46,250 to $49,340"
795,Outagamie County (WI),05000US55087,-88.464988,44.418226,184526,165748.0,2474.0,6610.0,2854.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$65,945","$63,674","$68,216","$63,674 to $68,216"
796,Ozaukee County (WI),05000US55089,-87.496553,43.360715,88314,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"$85,098","$79,971","$90,225","$79,971 to $90,225"
797,Portage County (WI),05000US55097,-89.498070,44.476246,70447,66177.0,485.0,1476.0,162.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$53,883","$50,807","$56,959","$50,807 to $56,959"
798,Racine County (WI),05000US55101,-87.414676,42.754075,195140,156136.0,21484.0,2903.0,1268.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$61,118","$58,019","$64,217","$58,019 to $64,217"
799,Rock County (WI),05000US55105,-89.075119,42.669931,161620,140747.0,7575.0,1734.0,563.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$55,905","$53,075","$58,735","$53,075 to $58,735"

In [7]:
df.drop('UnderAge5inPovertyCountUB90%', axis=1, inplace=True)
df.drop('90%ConfidenceInterval(UnderAge5inPovertyCount)', axis=1, inplace=True)
df.drop('UnderAge5inPovertyPercent', axis=1, inplace=True)
df.drop('UnderAge5inPovertyPercentLB90%', axis=1, inplace=True)
df.drop('UnderAge5inPovertyPercentUB90%', axis=1, inplace=True)
df.drop('90%ConfidenceInterval(UnderAge5inPovertyPercent)', axis=1, inplace=True)
df.drop('UnderAge5SAIPEPovertyUniverse', axis=1, inplace=True)
df.drop('UnderAge5inPovertyCount', axis=1, inplace=True)
df.drop('UnderAge5inPovertyCountLB90%', axis=1, inplace=True)
df.head(n=800)

,countyState,GEOID,lon,lat,P_total,P_white,P_black,P_asian,P_native,P_hawaiian,...,Ages5to17inFamiliesinPovertyCountUB90%,90%ConfidenceInterval(Ages5to17inFamiliesinPovertyCount),Ages5to17inFamiliesinPovertyPercent,Ages5to17inFamiliesinPovertyPercentLB90%,Ages5to17inFamiliesinPovertyPercentUB90%,90%ConfidenceInterval(Ages5to17inFamiliesinPovertyPercent),MedianHouseholdIncomeinDollars,MedianHouseholdIncomeinDollarsLB90%,MedianHouseholdIncomeinDollarsUB90%,90%ConfidenceInterval(MedianHouseholdIncomeinDollars)
0,Fairbanks North Star Borough (AK),05000US02090,-146.599867,64.690832,100605,75501.0,4385.0,3875.0,7427.0,503.0,...,1728,"928 to 1,728",8.5,5.9,11.1,5.9 to 11.1,"$74,241","$68,171","$80,311","$68,171 to $80,311"
1,Matanuska-Susitna Borough (AK),05000US02170,-149.407974,62.182173,104365,86314.0,1019.0,1083.0,5455.0,141.0,...,2712,"1,752 to 2,712",10.9,8.5,13.3,8.5 to 13.3,"$72,296","$67,381","$77,211","$67,381 to $77,211"
2,Baldwin County (AL),05000US01003,-87.746067,30.659218,208563,180484.0,18821.0,914.0,1383.0,0.0,...,6101,"3,641 to 6,101",14.3,10.7,17.9,10.7 to 17.9,"$56,607","$52,439","$60,775","$52,439 to $60,775"
3,Calhoun County (AL),05000US01015,-85.822513,33.771706,114611,NaN,NaN,NaN,NaN,NaN,...,4976,"3,066 to 4,976",22.2,16.9,27.5,16.9 to 27.5,"$45,937","$43,419","$48,455","$43,419 to $48,455"
4,Cullman County (AL),05000US01043,-86.869267,34.131923,82471,NaN,NaN,NaN,NaN,NaN,...,3072,"1,790 to 3,072",18.3,13.5,23.1,13.5 to 23.1,"$45,925","$41,985","$49,865","$41,985 to $49,865"
5,DeKalb County (AL),05000US01049,-85.803992,34.460929,70900,NaN,NaN,NaN,NaN,NaN,...,4197,"2,739 to 4,197",26.5,20.9,32.1,20.9 to 32.1,"$39,906","$36,346","$43,466","$36,346 to $43,466"
6,Elmore County (AL),05000US01051,-86.142739,32.597229,81799,NaN,NaN,NaN,NaN,NaN,...,2719,"1,541 to 2,719",15.9,11.5,20.3,11.5 to 20.3,"$59,652","$55,049","$64,255","$55,049 to $64,255"
7,Etowah County (AL),05000US01055,-86.034420,34.047638,102564,NaN,NaN,NaN,NaN,NaN,...,5144,"3,594 to 5,144",27.3,22.5,32.1,22.5 to 32.1,"$41,791","$38,946","$44,636","$38,946 to $44,636"
8,Houston County (AL),05000US01069,-85.296398,31.158193,104056,71838.0,27762.0,1054.0,443.0,0.0,...,4799,"3,585 to 4,799",23.8,20.3,27.3,20.3 to 27.3,"$44,753","$42,919","$46,587","$42,919 to $46,587"
9,Jefferson County (AL),05000US01073,-86.896536,33.553444,659521,340506.0,279979.0,8366.0,1799.0,323.0,...,25328,"19,258 to 25,328",20.8,18.0,23.6,18.0 to 23.6,"$50,731","$49,512","$51,950","$49,512 to $51,950"
10,Lauderdale County (AL),05000US01077,-87.650997,34.904122,92318,NaN,NaN,NaN,NaN,NaN,...,2967,"1,731 to 2,967",17.4,12.8,22.0,12.8 to 22.0,"$46,646","$42,318","$50,974","$42,318 to $50,974"
11,Lee County (AL),05000US01081,-85.353048,32.604064,158991,NaN,NaN,NaN,NaN,NaN,...,5619,"3,787 to 5,619",19.1,15.4,22.8,15.4 to 22.8,"$51,372","$47,509","$55,235","$47,509 to $55,235"
12,Limestone County (AL),05000US01083,-86.981399,34.810239,92753,NaN,NaN,NaN,NaN,NaN,...,3061,"1,891 to 3,061",15.5,11.8,19.2,11.8 to 19.2,"$57,342","$52,754","$61,930","$52,754 to $61,930"
13,Madison County (AL),05000US01089,-86.551080,34.764238,356967,243688.0,87415.0,8383.0,2547.0,250.0,...,10484,"7,314 to 10,484",15.4,12.7,18.1,12.7 to 18.1,"$62,750","$60,151","$65,349","$60,151 to $65,349"
14,Marshall County (AL),05000US01095,-86.321668,34.309564,95157,NaN,NaN,NaN,NaN,NaN,...,5899,"4,453 to 5,899",30.5,26.2,34.8,26.2 to 34.8,"$42,751","$38,920","$46,582","$38,920 to $46,582"
15,Mobile County (AL),05000US01097,-88.196568,30.684573,414836,243284.0,148001.0,8269.0,3328.0,20.0,...,23356,"17,636 to 23,356",29.5,25.4,33.6,25.4 to 33.6,"$45,615","$42,959","$48,271","$42,959 to $48,271"
16,Montgomery County (AL),05000US01101,-86.203831,32.203651,226349,81740.0,130006.0,5753.0,339.0,36.0,...,13684,"10,198 to 13,684",31.8,27.2,36.4,27.2 to 36.4,"$45,833","$43,205","$48,461","$43,205 to $48,461"
17,Morgan County (AL),05000US01103,-86.846402,34.454484,119012,93591.0,14431.0,1076.0,763.0,0.0,...,4633,"2,885 to 4,633",19.0,14.6,23.4,14.6 to 23.4,"$49,274","$45,438","$53,110","$45,438 to $53,110"
18,St. Clair County (AL),05000US01115,-86.315663,33.712963,88019,NaN,NaN,NaN,NaN,NaN,...,3047,"1,837 to 3,047",16.7,12.6,20.8,12.6 to 20.8,"$52,755","$49,054","$56,456","$49,054 to $56,456"
19,Shelby County (AL),05000US01117,-86.678104,33.262937,210622,168484.0,24066.0,4535.0,211.0,197.0,...,4118,"2,692 to 4,118",9.0,7.1,10.9,7.1 to 10.9,"$74,098","$70,854","$77,342","$70,854 to $77,342"
20,Talladega County (AL),05000US01121,-86.175804,33.369277,80103,NaN,NaN,NaN,NaN,NaN,...,3883,"2,583 to 3,883",26.0,20.8,31.2,20.8 to 31.2,"$41,733","$38,115","$45,351","$38,115 to $45,351"
21,Tuscaloosa County (AL),05000US01125,-87.522860,33.290202,206102,NaN,NaN,NaN,NaN,NaN,...,7454,"4,792 to 7,454",19.9,15.6,24.2,15.6 to 24.2,"$51,644","$49,316","$53,972","$49,316 to $53,972"
22,Walker County (AL),05000US01127,-87.301092,33.791571,64967,NaN,NaN,NaN,NaN,NaN,...,2670,"1,450 to 2,670",20.4,14.4,26.4,14.4 to 26.4,"$41,925","$38,785","$45,065","$38,785 to $45,065"
23,Benton County (AR),05000US05007,-94.256187,36.337825,258291,228649.0,3896.0,9343.0,2656.0,1350.0,...,6943,"4,233 to 6,943",10.9,8.2,13.6,8.2 to 13.6,"$64,728","$61,787","$67,669","$61,787 to $67,669"
24,Craighead County (AR),05000US05031,-90.630411,35.828268,105835,NaN,NaN,NaN,NaN,NaN,...,4503,"2,515 to 4,503",18.8,13.5,24.1,13.5 to 24.1,"$49,355","$46,377","$52,333","$46,377 to $52,333"
25,Faulkner County (AR),05000US05045,-92.324654,35.146356,122227,100295.0,12771.0,1404.0,277.0,739.0,...,3638,"2,114 to 3,638",13.8,10.1,17.5,10.1 to 17.5,"$51,535","$47,063","$56,007","$47,063 to $56,007"
26,Garland County (AR),05000US05051,-93.146915,34.578861,97477,NaN,NaN,NaN,NaN,NaN,...,4273,"2,465 to 4,273",24.1,17.6,30.6,17.6 to 30.6,"$44,662","$41,290","$48,034","$41,290 to $48,034"
27,Jefferson County (AR),05000US05069,-91.930701,34.277696,70016,NaN,NaN,NaN,NaN,NaN,...,4504,"2,782 to 4,504",33.2,25.3,41.1,25.3 to 41.1,"$38,677","$35,719","$41,635","$35,719 to $41,635"
28,Lonoke County (AR),05000US05085,-91.894132,34.755114,72228,63910.0,3884.0,1032.0,292.0,0.0,...,2462,"1,438 to 2,462",14.1,10.4,17.8,10.4 to 17.8,"$54,378","$50,312","$58,444","$50,312 to $58,444"
29,Pulaski County (AR),05000US05119,-92.316515,34.773988,393250,218346.0,142430.0,8604.0,799.0,33.0,...,14695,"9,449 to 14,695",18.8,14.7,22.9,14.7 to 22.9,"$52,361","$49,760","$54,962","$49,760 to $54,962"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,Franklin County (WA),05000US53021,-118.906944,46.534580,90160,54718.0,1733.0,1777.0,726.0,759.0,...,4581,"2,891 to 4,581",17.5,13.5,21.5,13.5 to 21.5,"$61,285","$56,383","$66,187","$56,383 to $66,187"
771,Grant County (WA),05000US53025,-119.467788,47.213633,93546,59251.0,558.0,773.0,843.0,0.0,...,4765,"2,939 to 4,765",19.1,14.6,23.6,14.6 to 23.6,"$55,807","$51,583","$60,031","$51,583 to $60,031"
772,Grays Harbor County (WA),05000US53027,-123.827043,47.142786,71628,62373.0,1187.0,1304.0,2996.0,132.0,...,3012,"1,894 to 3,012",23.2,17.9,28.5,17.9 to 28.5,"$47,619","$44,343","$50,895","$44,343 to $50,895"
773,Island County (WA),05000US53029,-122.670503,48.158436,82636,70785.0,1993.0,3901.0,898.0,318.0,...,1525,"943 to 1,525",12.0,9.2,14.8,9.2 to 14.8,"$63,529","$57,608","$69,450","$57,608 to $69,450"
774,King County (WA),05000US53033,-121.832375,47.493554,2149970,1393480.0,130762.0,361162.0,11288.0,17123.0,...,39882,"33,016 to 39,882",11.6,10.5,12.7,10.5 to 12.7,"$89,519","$87,771","$91,267","$87,771 to $91,267"
775,Kitsap County (WA),05000US53035,-122.649636,47.639687,264811,213321.0,6587.0,11318.0,3022.0,2204.0,...,4670,"2,890 to 4,670",9.9,7.6,12.2,7.6 to 12.2,"$72,795","$70,481","$75,109","$70,481 to $75,109"
776,Lewis County (WA),05000US53041,-122.377444,46.580071,77066,69504.0,542.0,932.0,1279.0,26.0,...,2879,"1,715 to 2,879",19.3,14.4,24.2,14.4 to 24.2,"$50,086","$46,809","$53,363","$46,809 to $53,363"
777,Pierce County (WA),05000US53053,-122.144709,47.040716,861312,629794.0,55912.0,52850.0,10825.0,12192.0,...,19822,"14,500 to 19,822",11.9,10.1,13.7,10.1 to 13.7,"$69,027","$67,060","$70,994","$67,060 to $70,994"
778,Skagit County (WA),05000US53057,-121.816278,48.493066,123681,102076.0,736.0,2563.0,2356.0,354.0,...,3431,"2,137 to 3,431",14.4,11.1,17.7,11.1 to 17.7,"$65,505","$63,086","$67,924","$63,086 to $67,924"
779,Snohomish County (WA),05000US53061,-121.766412,48.054913,787620,598184.0,24290.0,80706.0,7930.0,4176.0,...,12250,"8,154 to 12,250",7.9,6.3,9.5,6.3 to 9.5,"$82,405","$80,330","$84,480","$80,330 to $84,480"
780,Spokane County (WA),05000US53063,-117.404392,47.620379,499072,437088.0,9113.0,11616.0,8027.0,2794.0,...,14450,"10,122 to 14,450",15.5,12.8,18.2,12.8 to 18.2,"$53,438","$51,643","$55,233","$51,643 to $55,233"
781,Thurston County (WA),05000US53067,-122.829441,46.932598,275222,226065.0,8506.0,16030.0,3433.0,2555.0,...,5803,"3,697 to 5,803",11.0,8.6,13.4,8.6 to 13.4,"$71,370","$68,964","$73,776","$68,964 to $73,776"
782,Whatcom County (WA),05000US53073,-121.836433,48.842653,216800,178402.0,2619.0,9298.0,6037.0,524.0,...,4476,"2,728 to 4,476",11.8,8.9,14.7,8.9 to 14.7,"$61,026","$58,638","$63,414","$58,638 to $63,414"
783,Yakima County (WA),05000US53077,-120.740145,46.456558,249636,194416.0,3499.0,2502.0,10785.0,35.0,...,14964,"10,778 to 14,964",24.2,20.3,28.1,20.3 to 28.1,"$47,573","$45,119","$50,027","$45,119 to $50,027"
784,Brown County (WI),05000US55009,-87.995926,44.473961,260401,221450.0,5768.0,7972.0,7072.0,22.0,...,6336,"4,288 to 6,336",11.9,9.6,14.2,9.6 to 14.2,"$61,240","$58,736","$63,744","$58,736 to $63,744"
785,Dane County (WI),05000US55025,-89.417852,43.067468,531273,443862.0,25227.0,30922.0,2137.0,243.0,...,8232,"5,520 to 8,232",8.8,7.1,10.5,7.1 to 10.5,"$72,385","$70,600","$74,170","$70,600 to $74,170"
786,Dodge County (WI),05000US55027,-88.704379,43.422706,88068,85269.0,1584.0,107.0,105.0,0.0,...,1423,"875 to 1,423",8.8,6.7,10.9,6.7 to 10.9,"$57,862","$54,312","$61,412","$54,312 to $61,412"
787,Eau Claire County (WI),05000US55035,-91.286414,44.726355,102965,NaN,NaN,NaN,NaN,NaN,...,2417,"1,519 to 2,417",13.4,10.3,16.5,10.3 to 16.5,"$55,418","$51,888","$58,948","$51,888 to $58,948"
788,Fond du Lac County (WI),05000US55039,-88.493284,43.754722,102144,94027.0,762.0,1494.0,528.0,25.0,...,2116,"1,276 to 2,116",10.6,8.0,13.2,8.0 to 13.2,"$61,591","$58,864","$64,318","$58,864 to $64,318"
789,Jefferson County (WI),05000US55055,-88.773985,43.013807,84625,NaN,NaN,NaN,NaN,NaN,...,1528,"922 to 1,528",9.3,7.0,11.6,7.0 to 11.6,"$58,759","$54,862","$62,656","$54,862 to $62,656"
790,Kenosha County (WI),05000US55059,-87.424898,42.579703,168183,143113.0,12119.0,2482.0,827.0,175.0,...,4962,"3,250 to 4,962",14.4,11.4,17.4,11.4 to 17.4,"$61,312","$57,981","$64,643","$57,981 to $64,643"
791,La Crosse County (WI),05000US55063,-91.111758,43.908222,118122,107056.0,1327.0,5207.0,217.0,9.0,...,2106,"1,202 to 2,106",9.7,7.0,12.4,7.0 to 12.4,"$57,145","$54,602","$59,688","$54,602 to $59,688"
792,Manitowoc County (WI),05000US55071,-87.313828,44.105108,79536,74773.0,485.0,2022.0,365.0,0.0,...,1770,"1,082 to 1,770",11.9,9.0,14.8,9.0 to 14.8,"$55,741","$52,592","$58,890","$52,592 to $58,890"
793,Marathon County (WI),05000US55073,-89.757823,44.898036,135603,123417.0,483.0,7976.0,456.0,0.0,...,3027,"1,995 to 3,027",11.2,8.9,13.5,8.9 to 13.5,"$59,302","$55,681","$62,923","$55,681 to $62,923"
794,Milwaukee County (WI),05000US55079,-87.481575,43.017655,951448,562559.0,249436.0,40031.0,4836.0,168.0,...,43370,"35,850 to 43,370",24.8,22.4,27.2,22.4 to 27.2,"$47,795","$46,250","$49,340","$46,250 to $49,340"
795,Outagamie County (WI),05000US55087,-88.464988,44.418226,184526,165748.0,2474.0,6610.0,2854.0,65.0,...,2965,"1,837 to 2,965",7.6,5.8,9.4,5.8 to 9.4,"$65,945","$63,674","$68,216","$63,674 to $68,216"
796,Ozaukee County (WI),05000US55089,-87.496553,43.360715,88314,NaN,NaN,NaN,NaN,NaN,...,722,416 to 722,4.0,2.9,5.1,2.9 to 5.1,"$85,098","$79,971","$90,225","$79,971 to $90,225"
797,Portage County (WI),05000US55097,-89.498070,44.476246,70447,66177.0,485.0,1476.0,162.0,0.0,...,1059,"587 to 1,059",8.3,5.9,10.7,5.9 to 10.7,"$53,883","$50,807","$56,959","$50,807 to $56,959"
798,Racine County (WI),05000US55101,-87.414676,42.754075,195140,156136.0,21484.0,2903.0,1268.0,0.0,...,6367,"4,193 to 6,367",16.1,12.8,19.4,12.8 to 19.4,"$61,118","$58,019","$64,217","$58,019 to $64,217"
799,Rock County (WI),05000US55105,-89.075119,42.669931,161620,140747.0,7575.0,1734.0,563.0,0.0,...,5307,"3,695 to 5,307",16.6,13.6,19.6,13.6 to 19.6,"$55,905","$53,075","$58,735","$53,075 to $58,735"

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 57 columns):
countyState                                                   816 non-null object
GEOID                                                         816 non-null object
lon                                                           816 non-null float64
lat                                                           816 non-null float64
P_total                                                       816 non-null int64
P_white                                                       604 non-null float64
P_black                                                       604 non-null float64
P_asian                                                       604 non-null float64
P_native                                                      604 non-null float64
P_hawaiian                                                    604 non-null float64
P_others                                                      604 non-null float64
P_below_middle_school                                         814 non-null float64
P_some_high_school                                            814 non-null float64
P_high_school_equivalent                                      814 non-null float64
P_some_college                                                814 non-null float64
P_bachelor_and_above                                          814 non-null float64
P_below_poverty                                               816 non-null int64
median_age                                                    816 non-null float64
gini_index                                                    816 non-null float64
median_household_income                                       816 non-null int64
median_rent_per_income                                        816 non-null float64
percent_no_internet                                           816 non-null float64
Year                                                          816 non-null int64
State                                                         816 non-null int64
CountyID                                                      816 non-null int64
StateCountyName                                               816 non-null object
AllAgesSAIPEPovertyUniverse                                   816 non-null int64
AllAgesinPovertyCount                                         816 non-null int64
AllAgesinPovertyCountLB90%                                    816 non-null int64
AllAgesinPovertyCountUB90%                                    816 non-null int64
90%ConfidenceInterval(AllAgesinPovertyCount)                  816 non-null object
AllAgesinPovertyPercent                                       816 non-null float64
AllAgesinPovertyPercentLB90%                                  816 non-null float64
AllAgesinPovertyPercentUB90%                                  816 non-null float64
90%ConfidenceInterval(AllAgesinPovertyPercent)                816 non-null object
UnderAge18SAIPEPovertyUniverse                                816 non-null int64
UnderAge18inPovertyCount                                      816 non-null int64
UnderAge18inPovertyCountLB90%                                 816 non-null int64
UnderAge18inPovertyCountUB90%                                 816 non-null int64
90%ConfidenceInterval(UnderAge18inPovertyCount)               816 non-null object
UnderAge18inPovertyPercent                                    816 non-null float64
UnderAge18inPovertyPercentLB90%                               816 non-null float64
UnderAge18inPovertyPercentUB90%                               816 non-null float64
90%ConfidenceInterval(UnderAge18inPovertyPercent)             816 non-null object
Ages5to17inFamiliesSAIPEPovertyUniverse                       816 non-null int64
Ages5to17inFamiliesinPovertyCount                             816 non-null int64
Ages5to17inFamiliesinPovertyCountLB90%                        816 non-null int64
Ages5to17inFamiliesinPovertyCountUB90%                        816 non-null int64
90%ConfidenceInterval(Ages5to17inFamiliesinPovertyCount)      816 non-null object
Ages5to17inFamiliesinPovertyPercent                           816 non-null float64
Ages5to17inFamiliesinPovertyPercentLB90%                      816 non-null float64
Ages5to17inFamiliesinPovertyPercentUB90%                      816 non-null float64
90%ConfidenceInterval(Ages5to17inFamiliesinPovertyPercent)    816 non-null object
MedianHouseholdIncomeinDollars                                816 non-null object
MedianHouseholdIncomeinDollarsLB90%                           816 non-null object
MedianHouseholdIncomeinDollarsUB90%                           816 non-null object
90%ConfidenceInterval(MedianHouseholdIncomeinDollars)         816 non-null object
dtypes: float64(26), int64(18), object(13)
memory usage: 363.5+ KB

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [4]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*